<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>


<% if @valid_for_merge %>
	
	<h3>Merge Article</h3>
	<%= form_tag("/admin/content/merge_articles/#{@article.id}",multipart: true) do %>
		
		<%= text_field_tag 'other_article_id',nil, placeholder: 'Enter other article id...' %>
		<%= submit_tag "Merge" , class: 'btn' %>
	<% end %>	
<% end %>